.components {
  padding: 10px;
  h2 {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    margin-bottom: 15px;
  }
  &__content {
    display: flex;
    gap: 30px;
  }
  &__description {
    .components__text {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}
