.logo {
  display: flex;
 flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color:#8d60f0;
  &__content {
    padding: 2rem;
    width: 100%;
    height: 100%;
  }
}

  .logo__text {
    display: flex;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    text-decoration: underline;
    text-decoration-color:lightgray;
    text-decoration-thickness: 4px;
    text-underline-offset:8px

  }
  .logo__svg {
      // Classe per il contenitore SVG del logo
      .logo__svg-content {
        // Classe per il contenuto SVG del logo
        .logo__svg-content--main {
         display: flex;
         justify-content: space-between;
         align-items: center;
         img {
          max-height: 100px;
         }  
         svg{
          max-height:100px;
          
          &:last-child{
            max-width: 500px;

          }
         }
          
            }
          }
        }

// @media screen and (max-width: 1919px) {
//  main .logo {
//   }
// }

// @media screen and (max-width: 1365px) {
//     main .logo{
//   }
// }
// @media screen and (max-width: 767px) {
//   main .logo {
//   }
// }

// @media (max-width: 479px) {
//   main .logo{
//   }
// }