.container__seven-section {
  display: flex;
  justify-content: space-between;
  background-color: #7645d9;

    &__second-item{
        display: flex;
        flex-direction: column;

        &__title{
            color: white;
            text-align: center;
            font-size: 32px;
            margin-bottom: 20px;
        }

        &__text{
            color: white;
            font-size: 16px;
            font-weight: 400;
            
            &--bold{
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        &__link{
            display: flex;
            
        }

        &__link_anchor{
            color: #1fc7d4;
            font-weight: 600;
            font-size: 16px;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }

        &__link__svg{
            fill: #1fc7d4;
        }
        &__button{
            width: 135px;
            height: 45px;
            color: white;
            border: none;
            background-color: rgb(31, 199, 212);
            border-radius: 10px 10px;
            font-weight: 600;
        }
    }

    &__third-item{
        &__image1,&__image2,&__image3{
            height: 100px;
        }

    }

  &__pancake {
    // position: relative;
    &__image-1,
    &__image-2,
    &__image-3 {
      height: 100px;
    }
  }
}
