.crypto-section {
  background: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  &__bg-image {
    overflow: hidden;
    max-height: 48px;
    svg {
      width: 150%;
      height: 100%;
      max-height: 48px;
      display: block;
      fill: #faf9fa;
      flex-shrink: 0;
    }
  }
  &__cta {
    max-width: 968px;
    width: 100%;
    padding: 48px 24px 0 24px;
    align-self: center;
    display: flex;
  }
  &__left {
    position: relative;
    flex: 1 1 0%;
  }
  &__image {
    height: 100%;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &--cake {
      animation: 3s ease-in-out 1s infinite normal none running cake;
      max-height: 430px;
      img {
        display: initial;
      }
    }
    &--stonks {
      animation: 3s ease-in-out 0.66s infinite normal none running stonks;
      position: absolute;
      top: 0;
      left: 0;
    }
    &--folder {
      animation: 3s ease-in-out 0.33s infinite normal none running folder;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__right {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 64px;
    h2 {
      font-size: 40px;
      font-weight: 600;
      color: #280d5f;
      line-height: 1.1;
      margin-bottom: 24px;
      span {
        font-family: Kanit, sans-serif;
        font-weight: 600;
        color: #7645d9;
      }
    }
    p {
      color: #7a6eaa;
      margin-bottom: 24px;
    }
  }
  &__links {
    display: flex;
    gap: 16px;
    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      letter-spacing: 0.03em;
      &:first-child {
        background-color: #1fc7d4;
        color: white;
        padding: 12px 24px;
        border-radius: 16px;
        box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
      }
      &:last-child {
        display: flex;
        align-items: center;
        gap: 4px;
        fill: #1fc7d4;
        color: #1fc7d4;
        svg {
          flex-shrink: 0;
        }
      }
    }
  }
  &__statistics {
    max-width: 968px;
    width: 100%;
    padding: 24px 24px 48px 24px;
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    margin-bottom: 24px;
    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      color: #280d5f;
      span {
        font-family: Kanit, sans-serif;
        color: #7645d9;
      }
    }
  }
  &__btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 2px 12px;
    svg {
      fill: #7a6eaa;
      display: block;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 80px;
    overflow: hidden;
  }
  &__content {
    display: flex;
    min-height: 80px;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 500ms;

    &--active {
      position: absolute;
      opacity: 1;
      transition: 500ms;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
  &__item {
    flex: 1 1 25%;
    padding-left: 16px;
    border-left: 1px solid #d7caec;
    &--first {
      padding-left: 0;
      border: none;
    }
    &-name {
      font-size: 12px;
      color: #7645d9;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 8px;
    }
    &-percentage {
      color: #280d5f;
      font-size: 16px;
      line-height: 1.1;
      font-weight: 600;
    }
    &-interest {
      font-size: 16px;
      font-weight: 400;
      color: #7a6eaa;
      line-height: 1.5;
    }
  }
}

@keyframes folder {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes stonks {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes cake {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 967px) {
  .crypto-section {
    &__cta {
      padding-top: 32px;
    }
    &__statistics {
      padding-bottom: 32px;
    }
  }
}

@media screen and (max-width: 851px) {
  .crypto-section {
    &__cta {
      flex-direction: column;
      gap: 24px;
    }
    &__left {
      max-width: 192px;
      align-self: flex-end;
    }
    &__image {
      height: auto;
      max-width: 192px;
      img {
        max-width: 192px;
        display: block;
      }
    }
    &__right {
      margin: 0;
      h2 {
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .crypto-section {
    &__cta {
      padding-top: 16px;
    }
    &__statistics {
      padding-bottom: 16px;
    }
    &__content {
      flex-wrap: wrap;
      gap: 18.61px 0;
    }
    &__item {
      flex-basis: 50%;
      padding: 0;
      border: none;
      &--width {
        flex-basis: 100%;
      }
    }
  }
}
