@mixin column-style() {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body{
    border: solid 1px black;
    box-shadow: 2px 2px 2px 5px;
    
    

h1{
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-left: 80px;

}

.container-tipography{
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    
    
    .first-column-tipog{
        @include column-style()


    }

    .space{
        border-bottom: 1px solid black;
    }
       

    .second-column-tipog{
        @include column-style()
    }

    .third-column-tipog{
        display: flex;
    }

    .intest{
        font-size: 30px;
        
    }

    .font-family{
        font-weight: bold;
        margin: 0;
    }

    
}
}
