.prediction-section {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #cbd7ef, #9a9fd0);
  display: flex;
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 24px 0px;
    flex: 1 1 0%;
    overflow: hidden;
  }
  &__top {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__main-container {
    overflow: hidden auto;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  &__utils-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    max-width: 270px;
  }
  &__timer {
    display: flex;
    background-color: white;
    padding: 8px 40px 8px 8px;
    border-radius: 24px;
    align-items: center;
    position: relative;
    margin-right: 24px;
    svg {
      width: 64px;
      height: 64px;
      position: absolute;
      right: -24px;
    }
  }
  &__time-left {
    font-size: 20px;
    line-height: 22px;
    color: #7645d9;
    font-weight: 600;
  }
  &__total-time {
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    color: #280d5f;
    padding: 0 8px;
    max-width: 32px;
  }
  &__info-util {
    background-color: #7a6eaa;
    max-height: 48px;
    max-width: 48px;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    text-decoration: none;
    svg {
      fill: white;
      flex-shrink: 0;
    }
    &:hover {
      opacity: 0.65;
    }
    &:active {
      opacity: 0.85;
      transform: translateY(1px);
      box-shadow: none;
    }
  }
  &__leaderboard-util {
    background-color: #7a6eaa;
    max-height: 48px;
    max-width: 48px;
    padding: 14px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    svg {
      fill: white;
      flex-shrink: 0;
    }
    &:hover {
      opacity: 0.65;
    }
    &:active {
      opacity: 0.85;
      transform: translateY(1px);
      box-shadow: none;
    }
  }
  &__history-util {
    background-color: #e9eaeb;
    max-height: 48px;
    max-width: 48px;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    svg {
      fill: white;
      flex-shrink: 0;
    }
  }
  &__coin-container {
    width: 270px;

    flex: 0 0 auto;
  }
  &__currency-name {
    background-color: white;
    border-radius: 24px;
    width: fit-content;
    margin-left: 40px;
    display: flex;
    padding: 8px 8px 8px 40px;
    align-items: center;
    justify-content: center;
    span {
      &:first-child {
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        color: #280d5f;
      }
      &:last-child {
        font-weight: 400;
        line-height: 1.5;
        font-size: 12px;
        color: #280d5f;
        padding: 0 16px;
        max-width: 70px;
      }
    }
  }
  &__carousel-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    width: 128px;
    position: relative;
  }
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &--left,
    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      svg {
        fill: #1fc7d4;
        flex-shrink: 0;
      }
    }
    &--center {
      position: absolute;
      left: 50%;
      margin-left: -32px;
      top: -17px;
      svg {
        display: block;
      }
    }
  }
  &__mobile-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 0;
  }
  &__buttons-container {
    &--center {
      display: flex;
      background-color: #eeeaf4;
      border-radius: 16px;
      border: 1px solid #d7caec;
      gap: 2px;
    }
  }
  &__center-mobile-button {
    border: none;
    background-color: transparent;
    padding: 6px 16px;
    display: flex;
    align-self: center;
    border-radius: 16px;
    svg {
      fill: #7a6eaa;
    }
    &--active {
      background-color: #7a6eaa;
      svg {
        fill: white;
      }
    }
    &:active {
      opacity: 0.85;
      transform: translateY(1px);
      box-shadow: none;
    }
  }
  &__mobile-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &--left,
    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      svg {
        fill: #1fc7d4;
        flex-shrink: 0;
      }
    }

    &:active {
      opacity: 0.85;
      transform: translateY(1px);
      box-shadow: none;
    }
  }
  &__resize-bar {
    position: relative;
    cursor: pointer;
    background-color: white;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 10px;
      margin-left: -32px;
      height: 4px;
      width: 64px;
      border-radius: 8px;
      background-color: #7a6eaa;
    }
  }
  &__chainlink-anchor {
    max-width: 170px;
    img {
      display: block;
      max-width: 100%;
    }
    &--desktop {
      position: absolute;
      right: 16px;
      top: -60px;
    }
    &--mobile {
      display: none;
      width: 100%;
      align-self: flex-end;
      margin-right: 16px;
    }
  }
  &__buttons {
    position: absolute;
    bottom: 24px;
    left: 32px;
    display: inline-flex;
  }

  &__chart-button {
    border: none;
    cursor: pointer;
    border-radius: 24px 24px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #7a6eaa;
    background-color: #eeeaf4;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 42px;
    gap: 10px;
    svg {
      display: none;
    }
    &:first-child {
      letter-spacing: 0.00009em;
    }
    &--selected {
      color: #280d5f;
      background-color: white;
      svg {
        display: initial;
      }
    }
  }
  &__ref {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
    gap: 4px;
    p {
      font-weight: 400;
      line-height: 1.5;
      font-size: 14px;
      color: #280d5f;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1fc7d4;
      font-weight: 600;
      line-height: 1.5;
      font-size: 14px;
      text-decoration: none;
    }
    &--minimize {
      display: none;
    }
  }
  &__charts-container {
    user-select: none;
  }
  &__chart--trading-view {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
  }
  &__chart {
    background: linear-gradient(139.73deg, #e5fdff, #f3efff);
    width: 100%;
    height: 100%;
    svg {
      height: 100%;
      width: 100%;
      display: block;
      circle {
        fill: #7645d9;
      }
      .yAxis {
        .recharts-cartesian-axis-tick-value {
          color: #7a6eaa;
          font-size: 12px;
          stroke: none;
          fill: #7a6eaa;
          text-anchor: start;
        }
      }
      .xAxis {
        .recharts-cartesian-axis-tick {
          .recharts-cartesian-axis-tick-value {
            color: #280d5f;
            font-size: 12px;
            stroke: none;
            fill: #280d5f;
            text-anchor: middle;
          }
        }
      }
    }
    &--active {
      display: block;
    }
  }
  &__graph {
    height: 100%;
    width: 100%;
  }
}
.carousel-prediction {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, 0px);
  &__item {
    width: 320px;
    flex-shrink: 0;
    &:first-child {
      .card-prediction {
        &__arrow-container--down {
          .card-prediction__multiplier {
            color: white;
          }
          .card-prediction__down {
            color: white;
          }
          svg {
            fill: #ed4b9e;
          }
        }
      }
    }
    &:nth-child(2) {
      .card-prediction {
        &__arrow-container--up {
          .card-prediction__multiplier {
            color: white;
          }
          .card-prediction__up {
            color: white;
          }
          svg {
            fill: #31d0aa;
          }
        }
      }
    }
    &:nth-child(3) {
      .card-prediction {
        &__arrow-container--up {
          .card-prediction__multiplier {
            color: white;
          }
          .card-prediction__up {
            color: white;
          }
          svg {
            fill: #31d0aa;
          }
        }
      }
    }
    &:nth-child(4) {
      .card-prediction {
        &__arrow-container--up {
          .card-prediction__multiplier {
            color: white;
          }
          .card-prediction__up {
            color: white;
          }
          svg {
            fill: #31d0aa;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 967px) {
  .prediction-section {
    height: unset;
    &__carousel-buttons {
      display: none;
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__timer {
      flex-direction: column;
      padding: 0 28px 0 8px;
      border-radius: 8px 8px 8px 24px;
      align-items: flex-end;
      svg {
        top: -5px;
        max-width: 48px;
        max-height: 48px;
      }
    }
    &__mobile-nav {
      display: flex;
    }
    &__time-left {
      font-size: 16px;
      line-height: 21px;
    }
    &__total-time {
      padding: 0;
    }
    &__history-util {
      display: none;
    }
    &__coin-container {
      width: unset;
    }
    &__currency-name {
      margin-left: 20px;
      padding: 0 8px 0 24px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 8px 8px 24px 8px;
      span {
        &:first-child {
          line-height: 21px;
          font-size: 16px;
        }
        &:last-child {
          padding: 0;
        }
      }
    }
    &__charts-container {
      display: none;
    }
    &__chart {
      display: none;
    }
    &__chainlink-anchor {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .prediction-section {
    &__nav {
      gap: 8px;
    }
    &__timer {
      order: 3;
    }
    &__utils-buttons {
      gap: unset;
    }
    &__info-util {
      margin-right: 2px;
    }
    &__leaderboard-util {
      margin-right: 8px;
    }
  }
}
