.carousel {
  padding: 20px;
  position: relative;
  max-width: 1152px;
  width: 100%;
  display: flex;
}
.carousel__protector {
  position: relative;
  border-radius: 32px;
}
.carousel__domains {
  border-radius: 32px;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(216.04deg, rgb(69, 77, 223) 11.27%, rgb(51, 95, 215) 84.57%, rgb(80, 158, 225) 138.09%);
}
.carousel__trade {
  z-index: -2;
  border-radius: 32px;
  background: linear-gradient(64.41deg, rgba(214, 126, 10, 0.26) 44.37%, rgba(255, 235, 55, 0) 102.8%), radial-gradient(55.22% 134.13% at 57.59% 0%, rgb(245, 223, 142) 0%, rgb(252, 198, 49) 33.21%, rgb(255, 157, 0) 79.02%);
}
.carousel__item--selected {
  display: block;
  width: 100%;
}
.carousel__item {
  display: none;
  position: relative;
}
.carousel__bg {
  max-width: 1112px;
  border-radius: 32px;
  position: absolute;
  overflow: hidden;
}
.carousel__bg-image {
  transform: translateX(-14px);
  display: block;
  max-width: 1126px;
  object-position: center;
}
.carousel__bg--trade {
  position: absolute;
  top: 0;
  z-index: -1;
}
.carousel__bg--trade img {
  max-width: 100%;
  display: block;
}
.carousel__left {
  position: relative;
  padding: 24px;
  max-height: 192px;
  min-height: 181px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel__logo-img {
  max-height: 20px;
  margin-bottom: 10px;
}
.carousel__logo-img img {
  max-width: 119px;
}
.carousel__text {
  position: relative;
  width: 100%;
  max-height: 144px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.carousel__trade-text {
  font-weight: 600;
  font-style: normal;
  line-height: 110%;
  color: white;
}
.carousel__trade-text--sm {
  font-size: 21px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
.carousel__trade-text--big {
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
  margin-bottom: 12px;
}
.carousel__gradient-text {
  font-weight: 600;
  line-height: 98%;
  font-style: normal;
  letter-spacing: 0.01em;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 1px 1px 2px);
  font-size: 29px;
  padding-right: 200px;
  margin-bottom: 10px;
  text-align: start;
  background: linear-gradient(349.27deg, rgb(255, 178, 55) -8.6%, rgb(255, 235, 55) 59.55%);
  -webkit-text-fill-color: transparent;
  background-clip: unset;
  -webkit-background-clip: text;
}
.carousel__gradient-text--small {
  font-size: 19px;
  margin: 0;
  padding: 0;
}
.carousel__gradient-text--orange {
  font-size: 19px;
  margin: 0;
  padding: 0;
  background: linear-gradient(56.1deg, rgb(255, 169, 55) -21.08%, rgb(255, 235, 55) 89.71%);
  -webkit-text-fill-color: transparent;
  background-clip: unset;
  -webkit-background-clip: text;
  margin-bottom: 10px;
}
.carousel__links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.carousel__links a {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}
.carousel__links a:first-child {
  padding-left: 0;
}
.carousel__links a svg {
  fill: white;
}
.carousel__links a:hover {
  opacity: 0.65;
}
.carousel__links--trade {
  gap: 8px;
}
.carousel__links--trade a:first-child {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
  gap: 4px;
  letter-spacing: 0.02245em;
  background-color: #1fc7d4;
  padding: 4px 8px;
}
.carousel__links--trade a:last-child {
  background-color: white;
  color: #1fc7d4;
  gap: 4px;
  letter-spacing: 0.02245em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
}
.carousel__links--trade a:last-child svg {
  fill: #1fc7d4;
}
.carousel__separator-line {
  background: rgb(255, 255, 255);
  height: 10px;
  width: 2px;
  border-radius: 1px;
}
.carousel__bunny-image {
  position: absolute;
  bottom: 0;
  right: 26px;
}
.carousel__bunny-image--protector {
  position: absolute;
  bottom: 0;
  right: 26px;
}
.carousel__bunny-image--protector img {
  max-width: 193px;
  display: block;
}
.carousel__bunny-image--trade {
  position: absolute;
  bottom: 20px;
  right: 75px;
}
.carousel__bunny-image--trade img {
  max-width: 220px;
  display: block;
}
.carousel__right-star {
  position: absolute;
  z-index: 2;
  animation: 3s ease-in-out 0.5s infinite normal none running starTransparent;
}
.carousel__right-star--sm {
  top: 30px;
  right: 338px;
}
.carousel__right-star--sm img {
  max-width: 25px;
}
.carousel__right-star--big {
  right: 64px;
  bottom: 21px;
  transform: rotate(-22deg);
}
.carousel__right-star--big img {
  max-width: 30px;
}
.carousel__blue-ball {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 273px;
  top: 57px;
  border-radius: 50%;
  background: rgb(13, 103, 254);
}
.carousel__nav {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 108px;
  display: flex;
}
.carousel__button {
  border: none;
  cursor: pointer;
  background-color: white;
  opacity: 0.2;
  flex-basis: 108px;
  height: 8px;
}
.carousel__button:first-child {
  border-radius: 4px 0px 0px 4px;
}
.carousel__button:last-child {
  border-radius: 0px 4px 4px 0px;
}
.carousel__button--active {
  opacity: 1;
}

/*# sourceMappingURL=carousel.css.map */
