.scroll-up {
  position: fixed;
  display: none;
  right: 5%;
  bottom: 110px;
  z-index: 99;
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    height: 48px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    padding: 0px 14px;
    background-color: #1fc7d4;
    svg {
      fill: white;
    }
    &:hover {
      opacity: 0.65;
    }
    &:active {
      opacity: 0.85;
      transform: translateY(1px);
      box-shadow: none;
    }
  }
}
