<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="section-3">
      <div class="divider">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100vw"
          class="sc-4ba21b47-0 IIbzK"
          color="text"
          preserveAspectRatio="none"
          viewBox="0 0 1660 48"
        >
          <path d="M1660 48C1139.02 46.189 336.256 15.245 0 0h1660v48Z" />
        </svg>
      </div>
      <div class="section-3-wrapper">
        <div class="section-3-wrapper-item">
          <h2 class="small-title">
            <span class="color-sec">Trade</span> anything. No <br />
            registration, no hassle.
          </h2>
          <p class="paragraph">
            Trade any token on BNB Smart Chain in seconds, just by <br />
            connecting your wallet
          </p>
          <div class="button-e-link">
            <button class="main-button">Trade Now</button>
            <a href="#" class="link"
              >Learn
              <svg
                viewBox="0 0 24 24"
                color="primary"
                width="26px"
                xmlns="http://www.w3.org/2000/svg"
                class="sc-231a1e38-0 jCMRod"
              >
                <path
                  d="M18 19H6C5.45 19 5 18.55 5 18V6C5 5.45 5.45 5 6 5H11C11.55 5 12 4.55 12 4C12 3.45 11.55 3 11 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V13C21 12.45 20.55 12 20 12C19.45 12 19 12.45 19 13V18C19 18.55 18.55 19 18 19ZM14 4C14 4.55 14.45 5 15 5H17.59L8.46 14.13C8.07 14.52 8.07 15.15 8.46 15.54C8.85 15.93 9.48 15.93 9.87 15.54L19 6.41V9C19 9.55 19.45 10 20 10C20.55 10 21 9.55 21 9V4C21 3.45 20.55 3 20 3H15C14.45 3 14 3.45 14 4Z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="animation-box moving-cryptos">
          <div class="btc">
            <img
              src="./assets/images/Bnb.webp"
              alt="bnb coin"
              class="animation-layer"
              data-layer="-2"
            />
          </div>
          <div class="btc">
            <img
              src="./assets/images/Btc.webp"
              alt="btc coin"
              class="animation-layer"
              data-layer="0"
            />
          </div>
          <div class="btc">
            <img
              src="./assets/images/Cake.webp"
              alt="cake coin"
              class="animation-layer"
              data-layer="2"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
