@import url(./sections/ds-icons.css);
@import url(./sections/ds-form-fields.css);
@import url(./sections/ds-logos.css);
@import url(./sections/ds-brandcolor.css);
@import url(./sections/design-system-components.css);
@import url(./sections/card-prizes-container.css);
@import url(./sections/ds-icons/ds-icons.css);
@import url(./sections/ds-form-fields/ds-form-fields.css);

@import url(./shared/popup.css);
@import url(./shared/dropdown.css);
@import url(./shared/card-details.css);
@import url(./shared/card-prizes.css);
@import url(./shared/nft-card--lg.css);
@import url(./shared/phishing-warning.css);
@import url(./shared/carousel.css);
@import url(./shared/design-system-typography/typography.css);
@import url(./shared/ds-button-style/button-style.css);
@import url(./shared/home-sixth-section.css);

