@import url(./sections/ds-icons/ds-icons.css);
@import url(./sections/ds-form-fields/ds-form-fields.css);
@import url(./sections/ds-logos.css);
@import url(./sections/ds-brandcolor.css);
@import url(./sections/seventh-section/seventh-section.css);
@import url(./sections/crypto-section/crypto-section.css);
@import url(./sections/design-system-components/design-system-components.css);
@import url(./sections/card-prizes-container/card-prizes-container.css);
@import url(./sections/hero-section/hero-section.css);
@import url(./sections/home-2-section/home-2-section.css);
@import url(./sections/home-3-section/home-3-section.css);

@import url(./shared/popup/popup.css);
@import url(./shared/dropdown/dropdown.css);
@import url(./shared/card-details/card-details.css);
@import url(./shared/card-prizes/card-prizes.css);
@import url(./shared/nft-card--lg/nft-card--lg.css);
@import url(./shared/phishing-warning/phishing-warning.css);
@import url(./shared/carousel/carousel.css);
@import url(./shared/design-system-typography/typography.css);
@import url(./sections/footer/home-footer.css);
@import url(./shared/ds-button-style/button-style.css);
@import url(./shared/scrollbar/scrollbar.css);
@import url(./shared/home-sixth-section/home-sixth-section.css);
@import url(./shared/navbar/navbar.css);
