body {
  background-color: #faf9fa;
}
.nav-bottom {
  padding-top: 1px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  background-color: hsla(0, 0%, 100%, 0.7);
  box-shadow: rgba(133, 133, 133, 0.1) 0px -2px 0px -8px inset;
  position: relative;
  // margin-top: 127px; da aggiungere quando nav e warning sono in fixed

  &__item {
    line-height: 42px;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 400;
    color: #7a6eaa;
    text-decoration: none;
    padding: 0 4px;
    scroll-snap-align: start;
    &:hover {
      background-color: #eff4f5;
    }
    &--active {
      color: #7645d9;
      font-weight: 600;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        background-color: #1fc7d4;
        border-radius: 2px 2px 0px 0px;
      }
    }
    &:last-child {
      margin-right: 20px;
    }
  }
}
