::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--colors-textSubtle); //var(--colors-textSubtle)
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--colors-input); //var(--colors-input)
  border-radius: 10px;
}
